<!DOCTYPE html>
<html>
<head>
	<title>多选题管理</title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
	<script src="../../js/jquery-3.2.1.js"></script>
	<script src="../../js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/multiselectmanage.css">
	<link rel="stylesheet" type="text/css" href="../../css/public_css.css">
	<link rel="stylesheet" type="text/css" href="../../css/checkbox.css">
</head>
<body>
	<div class="containermsm">
		<div class="mainmsm">
			<div class="left">
				<span>班级名称:</span>
				<input type="text" name="search" placeholder=" 支持模糊查询">
				<span style="margin-left: 20px">课程章节名称:</span>
				<input type="text" name="search" placeholder=" 支持模糊查询">
			</div>
			<div class="right">
				<button>查询</button>
				<button>新增</button>
				<button>导入题目</button>
			</div>
		</div>
			
		<table>
			<tr>
				<td style="width: 5%"></td>
				<td style="width: 10%">编号</td>
				<td style="width: 15%">课程名称</td>
				<td >课程章节</td>
				<td style="width: 10%">题目类型</td>
				<td style="width: 15%">题目名称</td>
				<td style="width: 25%">操作</td>
			</tr>
			<tbody>
				<tr>
					<td>
						<div id="checkbox">
        					<img src="../../img/checkbox/checkbox.png" alt="">
       						<input data-myclick='checkbox' type="checkbox">
    					</div>
					</td>
					<td>1</td>
					<td>新经典日本语</td>
					<td>初次聚餐</td>
					<td>单选题</td>
					<td>实训二单元题1</td>
					<td>
						<button>编辑</button>
						<button>预览</button>
						<button>删除</button>
					</td>
				</tr>
				<tr>
					<td>
						<div id="checkbox">
        					<img src="../../img/checkbox/checkbox.png" alt="">
       						<input data-myclick='checkbox' type="checkbox">
    					</div>
					</td>
					<td>2</td>
					<td>新经典日本语</td>
					<td>初次聚餐</td>
					<td>单选题</td>
					<td>实训二单元题1</td>
					<td>
						<button>编辑</button>
						<button>预览</button>
						<button>删除</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script src="../../js/checkbox.js"></script>
</html>