<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../res/css/normalize.css">
    <link rel="stylesheet" href="../../../../res/css/teacher_main1.css">
    <link rel="stylesheet" href="../../../../res/css/chengjiquanzhong.css">
    <link rel="stylesheet" href="../../../../res/css/table.css">
    <link rel="stylesheet" href="../../../../res/css/select.css">
    <link rel="stylesheet" href="../../../../res/css/button.css">
    <link rel="stylesheet" href="../../../../res/css/radio.css">

    <script src="../../../../res/js/jquery-3.2.1.js"></script>

</head>

<body>
    <!-- 头部 -->
    <iframe src="../teacher_head.html" frameborder="0" width="100%" height="94px" scrolling='no'></iframe>
    <!-- ///// -->
    <div id="rongqi">
        <div class="rongqiLeft">
            <!-- 放置导航 -->
            <iframe src="../teacher_nav.html" frameborder="0" width="100%" height="1000px" scrolling='no'></iframe>
            <!--/////////- -->
            <div class="bolang1">
                <div class="bolang2">
                </div>
            </div>
        </div>
        <div class="rongqiRight">
            <!-- 放置右边部分 -->
            <div class="daohang">
                <a href="">首页</a>
                <span>>></span>
                <a href="">口语平台</a>
                <span>>></span>
                <a href="">课程设置</a>
                <span>>></span>
                <a href="">成绩权重设置</a>
            </div>
            <div class="flex-start tabCj">
                <div>
                    <span>◆</span>
                    <span> 听一听</span>
                    <span>◆</span>

                </div>
                <div>
                    <span>◆</span>
                    <span> 说一说</span>
                    <span>◆</span>
                </div>
                <div>
                    <span>◆</span>
                    <span> 能力测评设置</span>
                    <span>◆</span>
                </div>
                <div>
                    <span>◆</span>
                    <span> 成绩权重设置</span>
                    <span>◆</span>
                </div>
            </div>
            <div class="classTabContent isTabCj">
                <iframe src="../teacher_chaxun.html" frameborder="0" width="100%" height="40px" scrolling='no'></iframe>
                <!-- 能力测评设置 -->
                <div class="inputTabTable">


                    <div class="flex-between">
                        <div class="chaxunCj flex-start">
                            <div>
                                <span>班级：</span>
                                <div class="selectCj1">
                                    <div class="selectDiv">
                                        <div class=" inline-flex-start inputDiv">
                                            <input type="text" placeholder="请选择" readonly="readonly">
                                            <img src="../../../../res/img/select/select.png" alt="">
                                        </div>
                                        <ul>

                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div>
                                <span>试卷名称：</span>
                                <div class="selectCj3">
                                    <div class="selectDiv">
                                        <div class=" inline-flex-start inputDiv">
                                            <input type="text" placeholder="请选择" readonly="readonly">
                                            <img src="../../../../res/img/select/select.png" alt="">
                                        </div>
                                        <ul>

                                        </ul>
                                    </div>

                                </div>
                            </div>


                        </div>
                        <div class="btn-lanse btnCj">
                            <button>查询</button>
                        </div>
                    </div>
                    <div class="tableDiv3">
                        <table>
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>试卷名称</th>
                                    <th colspan="2">状态</th>
                                    <th>开始时间</th>
                                    <th>结束时间</th>
                                    <th colspan="2">答案设置</th>
                                    <th colspan="2">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>能力测评试卷一</td>
                                    <td>
                                        <div class="flex-center">
                                            <div class="radioBox radioBoxActive">
                                                <input type="radio" name="1" checked="checked">
                                            </div>

                                            <span>开放</span>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="flex-center">
                                            <div class="radioBox">
                                                <input type="radio" name="1">
                                            </div>

                                            <span>关闭</span>
                                        </div>

                                    </td>
                                    <td>2017-12-07 14:06</td>
                                    <td>2017-12-07 14:06</td>
                                    <td>
                                        <div class="flex-center">
                                            <div class="radioBox radioBoxActive">
                                                <input type="radio" name="2" checked="checked">
                                            </div>
                                            <span>开放</span>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="flex-center">
                                            <div class="radioBox radioBoxActive">
                                                <input type="radio" name="2">
                                            </div>
                                            <span>关闭</span>
                                        </div>

                                    </td>
                                    <td class="btn-lvse btnNlSz">
                                        <button data-prop='kaosi'>开启考试</button>
                                    </td>
                                    <td class="btn-lvse btnNlSz">
                                        <button data-prop='reset'>清空作答</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                    </div>



                </div>
                <!-- 能力测评设置end -->

                <!-- 能力权重 -->
                <div class="inputTabTable" style="display:none;">
                    <div class="flex-between">
                        <div>
                            <span>班级：</span>
                            <div class="selectCj1">
                                <div class="selectDiv">
                                    <div class=" inline-flex-start inputDiv">
                                        <input type="text" placeholder="请选择" readonly="readonly">
                                        <img src="../../../../res/img/select/select.png" alt="">
                                    </div>
                                    <ul>

                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="btn-lanse btnCj">
                            <button>保存</button>
                            <button>课程重置</button>
                            <button>全部课程重置</button>
                        </div>
                    </div>
                    <div class="tableDiv">
                        <table class="muttable">
                            <tr>
                                <td rowspan="14"></td>
                                <td rowspan="14">
                                    <span>听一听（单位：%）</span>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">
                                                <img src="../../../../res/img/select/select.png" alt="">
                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>

                                </td>
                                <td rowspan="14">
                                    <span> 走进日本（单位：%）</span>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">
                                                <img src="../../../../res/img/select/select.png" alt="">
                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td rowspan="4">机场（单位：%）
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">
                                                <img src="../../../../res/img/select/select.png" alt="">
                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td>单项名称</td>
                                <td>分值占比(%)</td>
                            </tr>
                            <tr>



                                <td>入国手续</td>
                                <td>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">

                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>




                                <td>安检与登记</td>
                                <td>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">

                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>




                                <td>免税店></td>
                                <td>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">

                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>



                                <td rowspan="2">机场（单位：%）
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">
                                                <img src="../../../../res/img/select/select.png" alt="">
                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td>电车出行</td>
                                <td>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">

                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>




                                <td>新干线出行</td>
                                <td>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">

                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>



                                <td rowspan="3">机场（单位：%）
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">
                                                <img src="../../../../res/img/select/select.png" alt="">
                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td>预约</td>
                                <td>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">

                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>




                                <td>入住</td>
                                <td>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">

                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>



                                <td>退房</td>
                                <td>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">

                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>



                                <td rowspan="3">机场（单位：%）
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">
                                                <img src="../../../../res/img/select/select.png" alt="">
                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td>预约</td>
                                <td>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">

                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>




                                <td>用餐</td>
                                <td>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">

                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>




                                <td>结算</td>
                                <td>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">

                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>



                                <td rowspan="2">机场（单位：%）
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">
                                                <img src="../../../../res/img/select/select.png" alt="">
                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td>观光</td>
                                <td>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">

                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>



                                <td>规划旅行</td>
                                <td>
                                    <div class="selectCj2">
                                        <div class="selectDiv">
                                            <div class=" inline-flex-start inputDiv">
                                                <input type="text" placeholder="请选择" readonly="readonly">

                                            </div>
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>


                </div>
                <!-- 能力权重end -->
                <!-- /////////// -->
                <div class="bolang1">
                    <div class="bolang2">

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="testStart">
            <div class='tanchu1'>
                <div class="flex-between tanchu2">
                    <div>
                        信息确认
                    </div>
                    <div class="tanchu3" data-start="quxiao">
                        <img src="../../../../res/img/head/close.png" alt="">
                    </div>
                </div>
                <div class="tanchu4 flex-center">
                    <div>
                        <div class="tanchu5">
                            <img src="../../../../res/img/tanchu/tishi.png" alt="">
                        </div>
                        <div>
                            <span class="tanchu6">
                                确定要开启本场考试吗？
                            </span>
                        </div>
                    </div>
                </div>
                <div class="flex-center tanchu8">
                    <div class="btn-lanse tanchu7">
                        <button>确定</button>
                    </div>
                    <div class="btn-hunse tanchu7">
                        <button data-start="quxiao">取消</button>
                    </div>
                </div>
            </div>
        </div>>
    <!-- <div id="testEnd">
        <div class='tanchu1'>
            <div class="flex-between tanchu2">
                <div>
                    信息确认
                </div>
                <div class="tanchu3" data-end="quxiao">
                    <img src="../../../../res/img/head/close.png" alt="">
                </div>
            </div>
            <div class="tanchu4 flex-center">
                <div>
                    <div class="tanchu5">
                        <img src="../../../../res/img/tanchu/tishi.png" alt="">
                    </div>
                    <div>
                        <span class="tanchu6">
                            确定要结束本场考试吗？
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex-center tanchu8">
                <div class="btn-lanse tanchu7">
                    <button>确定</button>
                </div>
                <div class="btn-hunse tanchu7">
                    <button data-end="quxiao">取消</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div id="testReset">
        <div class='tanchu1'>
            <div class="flex-between tanchu2">
                <div>
                    信息确认
                </div>
                <div class="tanchu3" data-reset="quxiao">
                    <img src="../../../../res/img/head/close.png" alt="">
                </div>
            </div>
            <div class="tanchu4 flex-center">
                <div>
                    <div class="tanchu5">
                        <img src="../../../../res/img/tanchu/tishi.png" alt="">
                    </div>
                    <div>
                        <span class="tanchu6">
                            确定要清空该场考试练习的学生作答记录吗？
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex-center tanchu8">
                <div class="btn-lanse tanchu7">
                    <button data-reset="queding">确定</button>
                </div>
                <div class="btn-hunse tanchu7">
                    <button data-reset="quxiao">取消</button>
                </div>
            </div>
        </div> -->
    </div>
    <script src="../../../../res/js/teacher_speak_gradeprop.js"></script>
    <script src="../../../../res/js/select.js"></script>
    <script src="../../../../res/js/radio.js"></script>

</body>

</html>