<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../res/css/normalize.css">
    <link rel="stylesheet" href="../../../../res/css/teacher_main1.css">

    <link rel="stylesheet" href="../../../../res/css/chengjiquanzhong.css">
    <link rel="stylesheet" href="../../../../res/css/select.css">
    <script src="../../../../res/js/jquery-3.2.1.js"></script>

</head>

<body>
    <!-- 头部 -->
    <iframe src="../teacher_head.html" frameborder="0" width="100%" height="94px" scrolling='no'></iframe>
    <!-- ///// -->
    <div id="rongqi">
        <div class="rongqiLeft">
            <!-- 放置导航 -->
            <iframe src="../teacher_nav.html" frameborder="0" width="100%" height="1000px" scrolling='no'></iframe>
            <!--/////////- -->
            <div class="bolang1">
                <div class="bolang2">
                </div>
            </div>
        </div>
        <div class="rongqiRight">
            <!-- 放置右边部分 -->
            <div class="daohang">
                <a href="">首页</a>
                <span>>></span>
                <a href="">口语平台</a>
                <span>>></span>
                <a href="">课程设置</a>
                <span>>></span>
                <a href="">成绩权重设置</a>
            </div>
            <div class="flex-start tabCj">
                <div>
                    <span>◆</span>
                    <span> 听一听</span>
                    <span>◆</span>

                </div>
                <div>
                    <span>◆</span>
                    <span> 说一说</span>
                    <span>◆</span>
                </div>
                <div>
                    <span>◆</span>
                    <span> 能力测评设置</span>
                    <span>◆</span>
                </div>
                <div>
                    <span>◆</span>
                    <span> 成绩权重设置</span>
                    <span>◆</span>
                </div>
            </div>
            <div class="classTabContent isTabCj">
                <iframe src="../teacher_chaxun.html" frameborder="0" width="100%" height="40px" scrolling='no'></iframe>
                <div class="inputTabTable">
                    <!-- 表格内容 -->
                    <div class="flex-between">
                        <div>
                            <span>班级：</span>
                            <div class="selectDiv">
                                <select name="" id="">
                                    <option value="">班级01</option>
                                    <option value="">班级01</option>
                                    <option value="">班级01</option>
                                    <option value="">班级01</option>
                                </select>
                                <div class="selectImg">
                                    <img src="../../../../res/img/select/select.png" alt="">
                                </div>
                            </div>

                        </div>
                        <div>

                        </div>
                    </div>
                    <!-- table end -->
                </div>

                <!-- /////////// -->
                <div class="bolang1">
                    <div class="bolang2">

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="../../../../res/js/checkbox.js"></script>
</body>

</html>