   <!-- 能力测评 -->
   <div class="inputTabTable">


        <div class="flex-between">
            <div class="chaxunCj flex-start">
                <div>
                    <span>班级：</span>
                    <div class="selectCj1">
                        <div class="selectDiv">
                            <div class=" inline-flex-start inputDiv">
                                <input type="text" placeholder="请选择" readonly="readonly">
                                <img src="../../../../res/img/select/select.png" alt="">
                            </div>
                            <ul>

                            </ul>
                        </div>

                    </div>
                </div>
                <div>
                    <span>学生姓名:</span>
                    <input type="text" placeholder="支持姓名查询">
                </div>
                <div>
                    <span>学生学号:</span>
                    <input type="text"  placeholder="支持学号查询">
                </div>

            </div>
            <div class="btn-lanse btnCj">
                <button>查询</button>
                <button>导出EXCEL</button>
                
            </div>
        </div>
        <div class="tableDiv3">
          <table>
              <thead>
                  <tr>
                      <td rowspan="2"></td>
                      <td rowspan="2">学生姓名</td>
                      <td  rowspan="2">学号</td>
                      <td colspan="2">试卷一(100%)</td>
                      <td colspan="2">试卷二(100%)</td>
                      <td colspan="2">试卷三(100%)</td>
                      <td rowspan="2">操作</td>
                  </tr>
                  <tr>
                        <td>最高分</td>
                        <td>作答次数</td>
                        <td>最高分</td>
                        <td>作答次数</td>
                        <td>最高分</td>
                        <td>作答次数</td>
                      
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>同学1</td>
                      <td>001</td>
                      <td>100</td>
                      <td>100</td>
                      <td>100</td>
                      <td>100</td>
                      <td>100</td>
                      <td>100</td>
                      <td class="btn-lvse btnNl">
                          <button >查看明细</button>
                        </td>
                  </tr>
                  <tr>
                        <td>1</td>
                        <td>同学1</td>
                        <td>001</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td>100</td>
                        <td class="btn-lvse btnNl">
                            <button >查看明细</button>
                          </td>
                    </tr>
                    <tr>
                            <td>1</td>
                            <td>同学1</td>
                            <td>001</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td class="btn-lvse btnNl">
                                <button >查看明细</button>
                              </td>
                        </tr>
              </tbody>
          </table>

           
        </div>



    </div>
    <!-- 能力测评end -->