.tabCj>div{
    padding:15px 20px;
    border:1px solid #B1DCFA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #E7F4FD;
    color:#206ADF;
    position: relative;
    top:1px;
}
.isTabCj{
    border-top-left-radius: 0px;
}
.btnCj{
    white-space: nowrap;
}
.btnCj button{
    font-size: 14px;
    color:#fff;
    width:120px;
    height: 42px;
}
.tableDiv{
    margin: 10px auto 0;
}
.selectCj1{
    width:120px;
    height: 40px;
    box-sizing: border-box;
    display: inline-block;
    border:1px solid #C6C6C6;
    border-radius: 5px;
   
}
.selectCj2{
    width:80px;
    height: 25px;
    display: inline-block;
    border:1px solid #C6C6C6;
    margin: 4px;
}
.selectCj3{
    width:180px;
    height: 40px;
    box-sizing: border-box;
    display: inline-block;
    border:1px solid #C6C6C6;
    border-radius: 5px;
   
}
table{
    width:100%;
}
table,td{
    border: 2px solid #d4edfc;
    border-collapse: collapse;
    min-width: 150px;
    text-align: center;
  height: 35px;
    font-size: 14px;
}
.chaxunCj{
   white-space: nowrap;
}
.chaxunCj>div{
    margin-right: 10px;
}
.chaxunCj span{
font-size: 14px;
}
.chaxunCj input{
    height: 38px;
    width:200px;
    border-radius: 8px;
    border:1px solid #C6C6C6;
}
.tableDiv3{
    margin-top:10px;
}
.tableDiv3 thead td{
    font-weight: 600;
}
.tableDiv3 td{
    min-width: 100px;
}
.btnNlSz button{
    width:90px;
    height: 35px;
}
#testStart{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.tanchu1{
    width:660px;
    height: 350px;
    margin: 100px auto;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}
.tanchu2{
    height: 50px;
    background-image: url(../img/head/bgimg.png);
    background-size: 100% 100%;
    color:#fff;
    font-size: 16px;
    box-sizing: border-box;
    padding:20px;
}
.tanchu3{
    width:30px;
    height: 30px;
}
.tanchu3>img{
    width:100%;
    height: 100%;
}
.tanchu4{
    height: 200px;
    border-bottom:1px solid #EBEBEB;
}
.tanchu5{
    padding:10px;
}
.tanchu5>img{
    width:60px;
    height:60px;
}
.tanchu6{
    font-size: 14px;
    
}
.tanchu7 button{
    width:105px;
    height: 40px;
    margin: 5px;
}
.tanchu8{
    margin-top:20px;
}