
.selectDiv{
    box-sizing: border-box;
    position: relative;
    width:100%;
    height: 100%;
    border-radius: 5px;
   
   
    
}
.selectDiv .inputDiv{
    box-sizing: border-box;
    width:100%;
    height: 100%;
    border-radius: 5px; 
    background: #F2F2F2;
}
.selectDiv input{
    box-sizing: border-box;
    border:none;
    padding:0 10px;
    width:100%;
    height: 100%;
    border-radius: 5px;
    background: #F2F2F2;
   
}
.selectDiv ul{
    box-sizing: border-box;
    border:1px solid #C6C6C6;
    background: #fff;
    position: absolute;
    border-radius: 5px; 
    top:100%;
    left: 0;
    display: none;
    z-index: 2;
    width:100%;
    max-height: 200px;
    overflow: auto;
}
.selectDiv li{
    height: 30px;
    line-height: 30px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    padding:0 20px;
    font-size: 12px;
   
}
.selectDiv li:hover{
    color:#fff;
    background: #149DFD;
 }