.table{
    padding:0 20px;
  }
  table,
  td,
  th {
  border: 1px solid #d4edfc;
  border-collapse: collapse;
  height: 50px;
  }
  table {
  width: 100%;
  }
  td{
    font-size: 12px;
    text-align: center;
  }
  th {
  font-size: 12px;
  }
  thead,
  tr {
  background: #f6fbfe;
  }
  tbody > tr:nth-child(2n + 1) {
  background: #fff;
  }
  table tbody tr:hover {
  background: #d4edfc;
  }
  