<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../res/css/normalize.css">
    <link rel="stylesheet" href="../../../res/css/nav.css">
    <script src="../../../res/js/jquery-3.2.1.js"></script>

</head>

<body>
    <div id="nav">
        <div class="nav">
            <div class="nav2 flex-between">
                <div class="nav3 inline-flex-start">
                    <img class="nav4" src="../../../res/img/nav/banjiguanli.png" alt="">
                    <span class="nav5">班级管理</span>
                </div>
                <div class="nav6">
                    <img class="nav7" src="../../../res/img/nav/xialasanjiaoxing.png" alt="">
                </div>
            </div>
            <ul class="nav1">
                <li>
                    <a href="#">班级管理</a>
                </li>
                <li>
                    <a href="#">学生管理</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <div class="nav2 flex-between">
                <div class="nav3 inline-flex-start">
                    <img class="nav4" src="../../../res/img/nav/banjiguanli.png" alt="">
                    <span class="nav5">课程设置</span>
                </div>
                <div class="nav6">
                    <img class="nav7" src="../../../res/img/nav/xialasanjiaoxing.png" alt="">
                </div>
            </div>
            <ul class="nav1">
            </ul>
        </div>
        <div class="nav">
            <div class="nav2 flex-between">
                <div class="nav3 inline-flex-start">
                    <img class="nav4" src="../../../res/img/nav/banjiguanli.png" alt="">
                    <span class="nav5">课程成绩与分析</span>
                </div>
                <div class="nav6">
                    <img class="nav7" src="../../../res/img/nav/xialasanjiaoxing.png" alt="">
                </div>
            </div>
            <ul class="nav1">
                <li>
                    <a href="#">课程进度查询</a>
                </li>
                <li>
                    <a href="#">课程成绩查询</a>
                </li>
                <li>
                    <a href="#">课程结果分析</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <div class="nav2 flex-between">
                <div class="nav3 inline-flex-start">
                    <img class="nav4" src="../../../res/img/nav/banjiguanli.png" alt="">
                    <span class="nav5">音视频管理</span>
                </div>
                <div class="nav6">
                    <img class="nav7" src="../../../res/img/nav/xialasanjiaoxing.png" alt="">
                </div>
            </div>
            <ul class="nav1">
                <li>
                    <a href="#">音频管理</a>
                </li>
                <li>
                    <a href="#">配音视频管理</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <div class="nav2 flex-between">
                <div class="nav3 inline-flex-start">
                    <img class="nav4" src="../../../res/img/nav/banjiguanli.png" alt="">
                    <span class="nav5">教学资源管理</span>
                </div>
                <div class="nav6">
                    <img class="nav7" src="../../../res/img/nav/xialasanjiaoxing.png" alt="">
                </div>
            </div>
            <ul class="nav1">

            </ul>
        </div>
        <div class="nav">
            <div class="nav2 flex-between">
                <div class="nav3 inline-flex-start">
                    <img class="nav4" src="../../../res/img/nav/banjiguanli.png" alt="">
                    <span class="nav5">课内知识添加管理</span>
                </div>
                <div class="nav6">
                    <img class="nav7" src="../../../res/img/nav/xialasanjiaoxing.png" alt="">
                </div>
            </div>
            <ul class="nav1">
                <li>
                    <a href="#">课内资源添加</a>
                </li>
                <li>
                    <a href="#">课内习题添加</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <div class="nav2 flex-between">
                <div class="nav3 inline-flex-start">
                    <img class="nav4" src="../../../res/img/nav/banjiguanli.png" alt="">
                    <span class="nav5">互动信息管理</span>
                </div>
                <div class="nav6">
                    <img class="nav7" src="../../../res/img/nav/xialasanjiaoxing.png" alt="">
                </div>
            </div>
            <ul class="nav1">
                <li>
                    <a href="#">通知公告</a>
                </li>
                <li>
                    <a href="#">留言管理</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <div class="nav2 flex-between">
                <div class="nav3 inline-flex-start">
                    <img class="nav4" src="../../../res/img/nav/banjiguanli.png" alt="">
                    <span class="nav5">实训管理</span>
                </div>
                <div class="nav6">
                    <img class="nav7" src="../../../res/img/nav/xialasanjiaoxing.png" alt="">
                </div>
            </div>
            <ul class="nav1">
                <li>
                    <a href="#">实训作业</a>
                </li>
                <li>
                    <a href="#">学生实训作业</a>
                </li>
                <li>
                    <a href="#">最优推送</a>
                </li>
            </ul>
        </div>
    </div>

    <script src="../../../res/js/nav.js"></script>
</body>

</html>