<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../res/css/normalize.css">
    <link rel="stylesheet" href="../../../res/css/chaxun.css">
</head>
<body>
    <div class="chaxun1">
        <span class="chaxun2">|</span>
        <span class="chaxun3">查询条件</span>
    </div>
</body>
</html>