<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../res/css/normalize.css">
    <link rel="stylesheet" href="../../../res/css/nav.css">
    <script src="../../../res/js/jquery-3.2.1.js"></script>

</head>

<body>
    <div id="nav">
        <div class="nav">
            <div class="nav2 flex-between">
                <div class="nav3 inline-flex-start">
                    <img class="nav4" src="../../../res/img/nav/banjiguanli.png" alt="">
                    <span class="nav5">班级管理</span>
                </div>
                <div class="nav6">
                    <img class="nav7" src="../../../res/img/nav/xialasanjiaoxing.png" alt="">
                </div>
            </div>
            <ul class="nav1">
                <li>
                    <a href="">学生管理</a>
                </li>
                <li>
                    <a href="">教学管理</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <div class="nav2 flex-between">
                <div class="nav3 inline-flex-start">
                    <img class="nav4" src="../../../res/img/nav/banjiguanli.png" alt="">
                    <span class="nav5">班级管理</span>
                </div>
                <div class="nav6">
                    <img class="nav7" src="../../../res/img/nav/xialasanjiaoxing.png" alt="">
                </div>
            </div>
            <ul class="nav1">
                <li>
                    <a href="">学生管理</a>
                </li>
                <li>
                    <a href="">教学管理</a>
                </li>
            </ul>
        </div>
        <div class="nav">
            <div class="nav2 flex-between">
                <div class="nav3 inline-flex-start">
                    <img class="nav4" src="../../../res/img/nav/banjiguanli.png" alt="">
                    <span class="nav5">班级管理</span>
                </div>
                <div class="nav6">
                    <img class="nav7" src="../../../res/img/nav/xialasanjiaoxing.png" alt="">
                </div>
            </div>
            <ul class="nav1">
                <li>
                    <a href="#">学生管理</a>
                </li>
                <li>
                    <a href="#">教学管理</a>
                </li>
            </ul>
        </div>
    </div>

    <script src="../../../res/js/nav.js"></script>
</body>

</html>