<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>teaher_head</title>
	<link rel="stylesheet" href="../../../res/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../../../res/css/teacher_head.css">
	<link rel="stylesheet" type="text/css" href="../../../res/css/public_css.css">
	<script src="../../../res/js/jquery-3.2.1.js"></script>
</head>

<body>
	<div id="container">
		<div class="left">
			<a href="#">
				<img src="../../../res/img/head/logo.png">
			</a>
			<span class="left1">|</span>
			<span class="left2">日语教育平台</span>
		</div>

		<div class="right">
			<span>欢迎TDO1!&nbsp;当前在线用户: 1</span>
			<a href="#">
				<img src="../../../res/img/head/back.png">
			</a>
			<a href="#">
				<img src="../../../res/img/head/home.png">
			</a>
			<a href="#">
				<img src="../../../res/img/head/user.png">
			</a>
			<a href="#">
				<img src="../../../res/img/head/password.png">
			</a>
			<a href="#">
				<img src="../../../res/img/head/quit.png">
			</a>
		</div>
	</div>
</body>

</html>