<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../res/css/checkbox.css">
    <script src="../../res/js/jquery-3.2.1.js"></script>

</head>

<body>
    <div id="checkbox">
        <img src="../../res/img/checkbox/checkbox.png" alt="">
        <input data-myclick='checkbox' type="checkbox">
    </div>
    <progress>
            <span id="objprogress" max=100>85</span>%
            </progress>
</body>
<script src="../../res/js/checkbox.js"></script>

</html>