<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class="selectDiv">
                <div class=" inline-flex-start inputDiv">
                    <input type="text"  placeholder="请选择" readonly="readonly">
                    <img src="../../../../res/img/select/select.png" alt="">
                </div>
                <ul>
                   
                </ul>
            </div>
</body>
</html>